<p class="menu-label is-hidden-touch">Filter</p>
<form id="filter_form" hx-indicator="#loading" hx-get="{{ base_path }}/{{ entity_name }}/list"
    hx-target="#{{ entity_name }}table" hx-push-url="true" hx-include="[id='{{ entity_name }}table']">
    <ul class="menu-list">
        {% for key, value in viewmodel_filter %}
        <li>
            <div class="field mt-3">
                <label class="label">{{key}}</label>
                {% if value.filter_type == "Text" %}
                <div class="control">
                    <input class="input" value="{{ value.value }}" type="text" placeholder="" name="filter_{{key}}">
                </div>
                {% elif value.filter_type == "DateTime" %}
                <div class="control">
                    <input class="input" value="{{ value.value }}" type="datetime-local" placeholder=""
                        name="filter_{{key}}">
                </div>
                {% elif value.filter_type == "Checkbox" %}
                <div class="select is-fullwidth">
                    <select name="filter_{{key}}" id="filter_{{key}}">
                        <option value=""></option>
                        <option value="1">&#10004;</option>
                        <option value="0">&#10006;</option>
                    </select>
                </div>
                {% elif value.filter_type == "Date" %}
                <div class="control">
                    <input class="input" type="date" placeholder="" name="filter_{{key}}">
                </div>
                {% elif value.filter_type == "SelectList" %}
                <div class="select is-fullwidth">
                    <select name="filter_{{key}}" id="filter_{{key}}">
                        <option value=""></option>
                        {% for selectval in value.values %}
                        <option value="{{ selectval[0] }}">{{ selectval[1] }}</option>
                        {% endfor %}
                    </select>
                </div>
                {% elif value.filter_type == "TomSelectSearch" %}
                    <div class="is-fullwidth">
                        <select name="filter_{{key}}" id="filter_{{key}}">
                            <option value=""></option>
                        </select>
                        <script>
                            var settings = {
                                plugins: ['remove_button'],
                                // select fields from remote data
                                valueField: 'value',
                                labelField: 'label',
                                searchField: 'label',
                                // fetch remote data
                                load: function(query, callback) {
                                    var url = '{{ base_path | safe }}/' + "{{ value.foreign_key | lower | safe }}" + '/search?q=' + encodeURIComponent(query);
                                    fetch(url)
                                        .then(response => response.json())
                                        .then(json => {
                                            callback(json.items);
                                        }).catch(()=>{
                                            callback();
                                        });
                                },
                                // custom rendering functions for options and items
                                render: {
                                    option: function(item, escape) {
                                        return `<div class="py-2 d-flex">
                                                    <div>
                                                        <div class="mb-1">
                                                            <span class="h4">
                                                                ${ escape(item.label) }
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>`;
                                    },
                                    item: function(item, escape) {
                                        return `<div class="py-2 d-flex">
                                                    <div>
                                                        <div class="mb-1">
                                                            <span class="h4">
                                                                ${ escape(item.label) }
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>`;
                                    }
                                },
                            };
                            new TomSelect('select[name="filter_{{key}}"]',settings);
                        </script>
                    </div>
                {% else %}
                <div class="control">
                    <input class="input" value="{{ value.value }}" type="text" placeholder="" name="filter_{{key}}">
                </div>
                {% endif %}
            </div>
        </li>
        {% endfor %}
        <li>
            <div class="field mt-4 is-grouped">
                <div class="control">
                    <button class="button is-link" type="submit">Apply</button>
                </div>
            </div>
        </li>
    </ul>
</form>