<article class="media">
    <div class="media-content">
        <div class="content">
            <p>
                <strong>Support</strong>
                <br>
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                doloremque.
            </p>
        </div>
    </div>
</article>
<article class="media">
    <div class="media-content">
        <div class="content">
            <p class="ml-5">
                <strong>You</strong>
                <br>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer rutrum, urna eu
                pellentesque pretium.
            </p>
        </div>
    </div>
</article>
<article class="media">
    <div class="media-content">
        <div class="content">
            <p>
                <strong>Support</strong>
                <br>
                Curabitur arcu velit, sagittis at lectus nec, efficitur faucibus sapien.
            </p>
        </div>
    </div>
</article>
<div class="field has-addons">
    <div class="control">
        <input class="input" type="text" placeholder="Ask a question">
    </div>
    <div class="control">
        <button class="button is-info">
            Send
        </button>
    </div>
</div>