{% if render_partial and render_partial == true %}

{% block content %}
{% endblock content %}

{% else %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% include "head.html" %}
</head>

<body>
    {% include "navbar.html" %}
    <div class="container is-fluid">
        <div id="notifications">
            {% if notifications %}
            {% for notification in notifications -%}
            <div class="notification mb-4 is-light {{ notification.css_class }}">
                <button class="delete" onclick="this.parentElement.remove()"></button>
                {{ notification.message }}
            </div>
            {% endfor %}
            {% endif %}
        </div>
        <div>
            {% block content %}
            {% endblock content %}
        </div>
    </div>
</body>

</html>
{% endif %}