<nav class="navbar is-dark mb-4" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/admin/">
      Actix Admin
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      {% for category, entities in entity_names %}
        {% if category == "" %}
          {% for name in entities %}
            <a href="/admin/{{ name }}/list" class="navbar-item {% if entity_name and entity_name == name %}is-active{% endif %}">{{ name | title }}</a>
          {%- endfor %}
        {% else %}
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              {{ category }}
            </a>
            <div class="navbar-dropdown">
          {% for name in entities %}
            <a href="/admin/{{ name }}/list" class="navbar-item {% if entity_name and entity_name == name %}is-active{% endif %}">{{ name | title }}</a>
          {%- endfor %}
            </div>
          </div>
        {% endif %}
      {%- endfor %}
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          {% if enable_auth %}
          {% if user_is_logged_in %}
          <a href="{{ logout_link }}" class="button is-light">
            Log out
          </a>
          {% else %}
          <a href="{{ login_link }}" class="button is-light">
            Log in
          </a>
          {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</nav>