<!DOCTYPE html>
<html lang="en">

<head>
    {% include "head.html" %}
</head>

<body>
    <div class="is-flex is-justify-content-center is-align-items-center" style=" height: 100vh;">
        <div class="columns">
            <div class="has-text-centered is-half ml-4 mt-5">
                <h1 class="is-size-1 has-text-weight-bold has-text-primary">404</h1>
                <p class="is-size-5 has-text-weight-medium"> <span class="has-text-danger">Oops!</span> Page not
                    found.</p>
                <p class="is-size-6 mb-2">
                    The page you’re looking for doesn’t exist.
                </p>
                <a href="{{ base_path }}" class="button is-primary">Go to Admin</a>
            </div>
        </div>
    </div>
</body>

</html>