{% extends "base.html" %}

{% block content %}
<div class="column is-vcentered">
    <div class="box">
        {% for model_field in view_model.fields -%}

        <div class="field">
            <label class="label">{{ model_field.field_name | split(pat="_") | join(sep=" ") | title }}</label>
            <div class="control">
                {% if model_field.field_type == "Checkbox" %}
                <span>{{ model.values | get(key=model_field.field_name) | get_icon | safe }}</span>
                {% elif model_field.field_type == "FileUpload" %}
                <a href="file/{{ view_model.primary_key }}/{{ model_field.field_name }}">{{ model.values |
                    get(key=model_field.field_name) }}</a>
                {% elif model_field.field_type == "Image" %}
                    {% set img = model.values | get(key=model_field.field_name, default="") %}
                    {% if img %}
                    <a href="{{ base_path }}/{{ entity_name }}/file/{{ model.primary_key }}/{{ model_field.field_name }}">
                        <img src="{{ base_path }}/{{ entity_name }}/file/{{ model.primary_key }}/{{ model_field.field_name }}" alt="{{ img }}" style="max-height: 300px; max-width: 100%; border-radius: 4px;">
                    </a>
                    {% endif %}
                {% elif model_field.field_type == "Html" %}
                <div>{{ model.values | get(key=model_field.field_name, default="") | safe }}</div>
                {% elif model_field.field_type == "Url" %}
                    {% set v = model.values | get(key=model_field.field_name, default="") %}
                    {% if v %}<a href="{{ v }}" target="_blank" rel="noopener noreferrer">{{ v }}</a>{% endif %}
                {% elif model_field.field_type == "Email" %}
                    {% set v = model.values | get(key=model_field.field_name, default="") %}
                    {% if v %}<a href="mailto:{{ v }}">{{ v }}</a>{% endif %}
                {% elif model_field.field_type == "RichText" %}
                <div class="content">{{ model.values | get(key=model_field.field_name, default="") }}</div>
                {% else %}
                {% if model.fk_values is containing(pat=model_field.field_name) %}
                {%- set value = model.fk_values[model_field.field_name] %}
                {%- else %}
                {%- set value = model.values[model_field.field_name] %}
                {%- endif %}
                <span>
                {%- if model_field.ceil %}
                {{ value | float | round(method="ceil", precision=model_field.ceil) }}
                {%- elif model_field.floor %}
                {{ value | float | round(method="floor", precision=model_field.floor) }}
                {%- elif model_field.dateformat %}
                {{ value | date(format=model_field.dateformat) }}
                {%- elif model_field.shorten %}
                {{ value | shorten(max_length=model_field.shorten) }}
                {%- else %}
                {{ value }}
                {%- endif %}
                </span>
                {% endif %}
            </div>
        </div>

        {%- endfor %}
    </div>
    <div class="field is-grouped">
        <div class="control">
            <a hx-vals='{ 
            "entities_per_page" : "{{ entities_per_page }}",
            "search" : "{{ search }}",
            "sort_by" : "{{ sort_by }}",
            "sort_order" : "{{ sort_order }}",
            "page" : "{{ page }}"
            }' hx-boost="true" hx-push-url="true" hx-indicator="#loading" class="button is-link is-light"
                href="{{ base_path }}/{{ entity_name }}/list">Back</a>
        </div>
    </div>
</div>

{% endblock content %}
